					<% if current_user? %>
						<%= image_tag current_user.avatar.url(:thumb) %>
						Logged in as <%= current_user.name %> |
						<%= link_to "Lists", lists_path %> |
						<%= link_to "Log out", sessions_path, method: :delete %>
					<% else %>
						<%= link_to "Sign up", new_user_path %> |
						<%= link_to "Log in", new_sessions_path %>
					<% end %>

<div class="feedback grid_9 alpha omega">
<h2>Some of the letters we have received following  a visit from The DinoLab team!</h2>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/stmarysplattprimaryschool2-1.jpg" class="lightbox_trigger image_1" title="Platt C of E Primary School April 25th 2012"><img src="/feedback/stmarysplattprimaryschool2-1.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_1">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughadam.jpg" class="lightbox_trigger image_2" title="Adam Bidborough C of E Primary School">
    <img src="feedback/bidboroughadam.jpg" alt="Feedback" />
  </a>
</div>
<div class="galleryDesc feedback_2">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughcaitlin.jpg" class="lightbox_trigger image_3" title="Caitlin Bidborough C of E Primary School"><img src="feedback/bidboroughcaitlin.jpg" alt="Feedback" /></a>
</div>
  <div class="galleryDesc feedback_3">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughchris.jpg" class="lightbox_trigger image_4" title="Chris Bidborough C of E Primary School"><img src="feedback/bidboroughchris.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_4">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidborougherin.jpg" class="lightbox_trigger image_5" title="Erin Bidborough C of E Primary School"><img src="feedback/bidborougherin.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_5">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughfrank.jpg" class="lightbox_trigger image_6" title="Frank Bidborough C of E Primary School"><img src="feedback/bidboroughfrank.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_6">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughgrace.jpg" class="lightbox_trigger image_7" title="Grace Bidborough C of E Primary School"><img src="feedback/bidboroughgrace.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_7">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughgwendolen.jpg" class="lightbox_trigger image_8" title="Gwendolen Bidborough C of E Primary School"><img src="feedback/bidboroughgwendolen.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_8">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughkatie.jpg" class="lightbox_trigger image_9" title="Katie Bidborough C of E Primary School"><img src="feedback/bidboroughkatie.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_9">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughleeoni.jpg" class="lightbox_trigger image_10" title="Leeoni Bidborough C of E Primary School"><img src="feedback/bidboroughleeoni.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_10">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughlily.jpg" class="lightbox_trigger image_11" title="Lily Bidborough C of E Primary School"><img src="feedback/bidboroughlily.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_11">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughmatthew.jpg" class="lightbox_trigger image_12" title="Matthew Bidborough C of E Primary School"><img src="feedback/bidboroughmatthew.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_12">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughmatthewf.jpg" class="lightbox_trigger image_13" title="Matthew Bidborough C of E Primary School"><img src="feedback/bidboroughmatthewf.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_13">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/bidboroughzoe.jpg" class="lightbox_trigger image_14" title="Zoe Bidborough C of E Primary School"><img src="feedback/bidboroughzoe.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_14">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattadam.jpg" class="lightbox_trigger image_15" title="Adam Platt C of E Primary School"><img src="feedback/plattadam.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_15">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattaidan.jpg" class="lightbox_trigger image_16" title="Aidan Platt C of E Primary School"><img src="feedback/plattaidan.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_16">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattaisling.jpg" class="lightbox_trigger image_17" title="Aisling Platt C of E Primary School"><img src="feedback/plattaisling.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_17">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattalice.jpg" class="lightbox_trigger image_18" title="Alice Platt C of E Primary School"><img src="feedback/plattalice.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_18">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattanna.jpg" class="lightbox_trigger image_19" title="Anna Platt C of E Primary School"><img src="feedback/plattanna.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_19">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattannie.jpg" class="lightbox_trigger image_20" title="Annie Platt C of E Primary School"><img src="feedback/plattannie.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_20">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattedward.jpg" class="lightbox_trigger image_21" title="Edward Platt C of E Primary School"><img src="feedback/plattedward.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_21">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattelliot.jpg" class="lightbox_trigger image_22" title="Elliot Platt C of E Primary School"><img src="feedback/plattelliot.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_22">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattemily.jpg" class="lightbox_trigger image_23" title="Emily Platt C of E Primary School"><img src="feedback/plattemily.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_23">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattholly.jpg" class="lightbox_trigger image_24" title="Holly Platt C of E Primary School"><img src="feedback/plattholly.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_24">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattjames.jpg" class="lightbox_trigger image_25" title="James Platt C of E Primary School"><img src="feedback/plattjames.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_25">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattkiana.jpg" class="lightbox_trigger image_26" title="Kiana Platt C of E Primary School"><img src="feedback/plattkiana.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_26">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattlauren.jpg" class="lightbox_trigger image_27" title="Lauren Platt C of E Primary School"><img src="feedback/plattlauren.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_27">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattlaurens.jpg" class="lightbox_trigger image_28" title="Lauren Platt C of E Primary School"><img src="feedback/plattlaurens.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_28">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattlibby.jpg" class="lightbox_trigger image_29" title="Libby Platt C of E Primary School"><img src="feedback/plattlibby.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_29">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattlouisa.jpg" class="lightbox_trigger image_30" title="Louisa Platt C of E Primary School"><img src="feedback/plattlouisa.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_30">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattoliver.jpg" class="lightbox_trigger image_31" title="Oliver Platt C of E Primary School"><img src="feedback/plattoliver.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_31">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/plattrose.jpg" class="lightbox_trigger image_32" title="Rose Platt C of E Primary School"><img src="feedback/plattrose.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_32">
  <h3></h3>
</div>
</div>

<div class="galleryItem">
<div class="galleryImage">
  <a href="feedback/platttommy.jpg" class="lightbox_trigger image_33" title="Tommy Platt C of E Primary School"><img src="feedback/platttommy.jpg" alt="Feedback" /></a>
</div>
<div class="galleryDesc feedback_33">
  <h3></h3>
</div>
</div>

<div class="clear"> </div>
</div> <!-- Closing the feedback of the page -->
